#### Funtions already seen

1. print()
1. type()
1. str()
1. int()
1. float()

In [12]:
# input()

name = "Josh"

In [13]:
name02 = input("What is you name? ")

What is you name? Mary

In [14]:
print(f"Hello {name02}!")

Hello Mary!

In [15]:
age = input("How old are you? ")
print(f"You are {age}")

How old are you? 17
You are 17

In [16]:
type(age)

str

In [17]:
age = int(age)

In [18]:
type(age)

int

In [19]:
print(f"In five years you will be {age + 5}")

In five years you will be 22

In [20]:
money = float(input("What is your salary per month? "))

What is your salary per month? 1450

In [21]:
print(type(money))

<class 'float'>

In [22]:
print(money *2 )

2900.0